/* A. External CSS */
body {
    background-color: aliceblue;
    font-family: "Bitcount Prop Single", system-ui;
    margin: 0;
    padding-top: 70px;
}

h1,
h2 {
    color: darkgoldenrod;
}

/* B. Element Selector */
p {
    font-size: 16px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    position: relative;
    padding: 20px;
}

.important-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: chartreuse;
    padding: 5px;
    border: 1px solid black;
}

/* Class Selector */
.content-wrapper {
    background-color: aquamarine;
    padding: 10px;
}


.blue-text {
    color: blue;
    font-weight: bold;
}

/* ID Selector */
#main-title {
    color: orangered;
    text-align: center;
}


.box-example {
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    margin: 15px;
    box-sizing: border-box;
    background-color: white;
}


.sticky-heading {
    position: sticky;
    top: 80px;
    background-color: lightgray;
    padding: 5px;
    z-index: 10;
}

span {
    color: purple;
    font-style: italic;
    text-decoration: underline;
}

.photos-flex img,
.photos-grid img {
    width: 100%;
    height: 250px;
    display: block;
    margin-bottom: 15px;
    object-fit: cover;
}

/* Flexbox Gallery */
.photos-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Grid Gallery */
.photos-grid {
    display: grid;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .photos-flex img {
        flex: 0 0 100%;
    }
    .photos-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photos-flex img {
        
        flex: 0 0 48%;
    }
    .photos-flex{
        justify-content: space-between;
    }
    .photos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1025px) {
    .photos-flex img {
        flex: 0 0 23%;
    }
    .photos-flex{
        justify-content: space-between;
    }
    .photos-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
